{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The tag below includes the theme header - partials/header.hbs --}}
{{> header}}

{{!-- The content area on the static page --}}
<div id="content" class="site-content fadeInDown delay_075s">
	<main id="main" class="site-main outer">

		{{!-- Everything inside the #post tags pulls data from the post --}}
		{{#post}}

		<article class="{{post_class}} post-full inner">

			<header class="post-header">
				<h1 class="post-title">{{title}}</h1>
			</header><!-- .post-header -->

			{{#if feature_image}}
			<div class="post-thumbnail"><img srcset="{{img_url feature_image size="xs"}} 300w, {{img_url feature_image size="s"}} 600w, {{img_url feature_image size="m"}} 800w, {{img_url feature_image size="l"}} 1100w, {{img_url feature_image size="xl"}} 1600w" sizes="(max-width: 1140px) 94vw, 1100px" src="{{img_url feature_image size="l"}}" alt="{{title}}" /></div>
			{{/if}}

			<div class="post-content">
				{{content}}
			</div><!-- .post-content -->

			{{#if tags}}
			<footer class="post-footer">
				<p class="post-tags">{{tags separator=" "}}</p>
			</footer><!-- .post-footer -->
			{{/if}}

		</article><!-- .post -->

		{{/post}}

	</main><!-- .site-main -->
</div><!-- .site-content -->
