<% wrap_layout :blog do %>
<section>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-1">
          <article>
            <div class="meta">
                <div class="date">
                    <span class="month"><%= current_article.date.strftime('%b') %></span>
                    <span class="day"><%= current_article.date.strftime('%d') %></span>
                    <span class="year"><%= current_article.date.strftime('%Y') %></span>
                </div>
            </div>
            <h1><a href="<%= current_article.url %>"><%= current_article.title %></a></h1>
            <%= yield %>
          </article>
        </div>

        <%= partial "blog/sidebar" %>
    </div>
</div>
</section>
<%= partial "blog/subscribe" %>
<section class="alternate">
<div class="container">
  <div class="row">
  <div id="disqus_thread" class="col-lg-8 col-lg-offset-1"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'progrium'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>
</section>
<% end %>
